.Layout {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 15% 80% 5%;
  background-color: white;
}

.Layout,
.Layout > * {
  margin-left: 20px;
}

header,
footer {
  grid-column: span 6;
  padding: 0px;
}

main {
  grid-column: span 5;
}
